body {
  margin: 0;
  padding: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
main {
  text-align: center;
  background-color: #151346;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
#box {
  background-color: #151346;
  border: #ffffff 2px double;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

#snake {
  grid-column: 10 / 12;
  grid-row: 10 / 11;
  background-color: #ffffff;
}
#food {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: #ffffff;
}